@use './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: config.$sf-font;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}




