@use '../scss/config';

footer {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;

    #watchmode-link {
        color: config.$pink-text;
        text-decoration: none;
    }
}