@use './config';

.search-wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .movie-input {
        padding: 8px;
        font-size: 1rem;
        margin-top: 50px;
        border-radius: 16px;
        border: 2px solid config.$pink-text;
        background-color: #0e0b0c;
        color: white;

        &:focus {
            outline: none;
            box-shadow: 0 0 5px 0 config.$pink-text;
            animation: glow 1.5s infinite alternate;

            @keyframes glow {
                from {
                  box-shadow: 0 0 5px 0 config.$pink-text; /* Initial shadow */
                }
                to {
                  box-shadow: 0 0 10px 5px config.$pink-text; /* Glowing effect */
                }
            }
        }
    }
    
    .movie-list-wrapper {
        margin-top: 20px;
        height: 400px;
        overflow-y: auto;
        background-color: #0e0b0c;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #46343a;
        box-shadow: 0 0 3px 2px #46343a;
        text-decoration: none;
        color: white;

        .movie-card-wrapper {
            display: flex;
            align-items: center;
            background-color: black;
            margin-top: 8px;
            border-radius: 8px;
            border: 2px solid config.$pink-text;
            padding: 4px;
            transition: scaleMovieCard 0.3s ease-in-out;

            @keyframes scaleAnimation {
                to {
                  transform: scale(0.9);
                }
              }

            &:hover {
                animation: scaleAnimation 0.3s ease forwards;
            }
            
            .title-wrapper {
                overflow: hidden;
                margin-left: 10px;
                
                p {
                    white-space: nowrap; /* Prevent text from wrapping */
                    overflow: hidden; /* Hide overflowing text */
                    text-overflow: ellipsis;
                    font-size: 0.9rem;
                }
            }

            .image-wrapper {
                display: flex;
                align-items: center;
                
                img {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .search-wrapper {
        width: 70%; 
        margin: 0 auto;

        .movie-input {
            font-size: 1.1rem;
        }

        .movie-list-wrapper {
            .movie-card-wrapper {
               .title-wrapper {
                p {
                    font-size: 1.1rem;
                }
               } 
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .search-wrapper {
        width: 60%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1440px) {
    .search-wrapper {
        width: 50%;
        margin: 0 auto;
    }
}